.docs .breadCrumbs {
  margin-bottom: 10px;
}

.docs .breadCrumbs .breadCrumbText{
  font-size: 18px;
  padding-right: 10px;
  color: #0088cc;
}

.docs .row{
  margin-left: 0;
  padding: 8px 0;
}
.docs .header{
  cursor: pointer;
  color: gray;
}

.moveToFolderTemplate{
  display: none;
}

.k-upload-button{
  width: 200px
}

.k-dropzone{
  background-color: #e3f2ff;
  height: 300px;
}

.docs .rowFiles{
  font-size: 15px;
}

.docs .rowFiles-files{
  cursor: pointer;
}

.docs .rowFiles-files:hover{
  cursor: pointer;
  text-decoration: underline;
}

.docs .rowFiles:hover{
  background: #f2f2f2;
}

.docs .rowFiles.selected{
  background: #e3f2ff;
}

.docs .row-toolbar{
  margin-left: 30px;
}

.docs .row-toolbar-action{
  margin-right: 10px;
  display: none;
  cursor: pointer;
  padding: 6px;
}

.docs .row-toolbarRight{
  text-align: right;
}

.docs .row-toolbarRight-action{
  display: none;
  cursor: pointer;
  padding: 6px;
  text-align: left;
}

.docs .row-toolbarRight-action .btn-link{
  color: #0088cc;
}
.docs .row-toolbarRight-action .multiselect{
  color: black;
}

.docs .row-toolbarRight-action .multiselect-search{
  width: 110px;
}

.docs .row-toolbarRight-action .multiselect-container li{
  margin-left: -10px
}

.docs .row-toolbarRight-action .multiselect-container .input-prepend{
  margin-left: 5px
}

.docs .row-toolbarRight-action .multiselect-container .openEmailDiv{
  padding: 6px 4px;
}

.docs .row-toolbarRight-action .multiselect-container .permissionDiv{
  padding: 6px 10px;
}

.docs .row-toolbarRight-action .multiselect-container .openEmail{
  margin-left: 8px
}

.multiselect-container.dropdown-menu {
  margin-left: -90px;
  top: -500%;
  left: -100%;
}

/*Make select all bold*/
.docs .row-toolbarRight-action .multiselect-container .multiselect-all label{
  font-weight: bold;
}

.rowFilesCheckbox{
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

.label {
  background-color: #FFFFFF;
  text-shadow: none;
  color: #555555;
  border: 1px solid #cccccc;
}